.dark-theme {
          --themeBgDefault: #171717ed;
  --themeBgSubtle: #323232;
  --themeBgMuted: #757575;
  --themeFgDefault: #ffffff;
  --themeFgOnAccent: #ffffff;
  --themeFgMuted: #eeeeee;
  --themeFgSubtle: #9e9e9e;
  --themeAccentDefault: #3d53f5;
  --themeAccentSubtle: #060818;
      }