.global-theme {
          --colorsBlack: #171717ed;
  --colorsWhite: #ffffff;
  --colorsRed50: #FFF5F7;
  --colorsRed100: #fce8ec;
  --colorsRed200: #f9d0d9;
  --colorsRed300: #f2a2b3;
  --colorsRed400: #e95c7b;
  --colorsRed500: #df1642;
  --colorsRed600: #9c0f2e;
  --colorsRed700: #59091a;
  --colorsRed800: #2d040d;
  --colorsRed900: #160207;
  --colorsRed950: #100105;
  --colorsBlue50: #eceefe;
  --colorsBlue100: #d8ddfd;
  --colorsBlue200: #b1bafb;
  --colorsBlue300: #8b98f9;
  --colorsBlue400: #6475f7;
  --colorsBlue500: #3d53f5;
  --colorsBlue600: #3142c4;
  --colorsBlue700: #253293;
  --colorsBlue800: #182162;
  --colorsBlue900: #0c1131;
  --colorsBlue950: #060818;
  --colorsGrey50: #fcfcfc;
  --colorsGrey100: #f5f5f5;
  --colorsGrey200: #eeeeee;
  --colorsGrey300: #e0e0e0;
  --colorsGrey400: #bdbdbd;
  --colorsGrey500: #9e9e9e;
  --colorsGrey600: #757575;
  --colorsGrey700: #616161;
  --colorsGrey800: #424242;
  --colorsGrey900: #323232;
  --colorsGrey950: #212121;
  --colorsTest: #ffffff4d;
  --md24: 24;
      }