.light-theme {
          --themeBgDefault: #ffffff;
  --themeBgSubtle: #f5f5f5;
  --themeBgMuted: #e0e0e0;
  --themeFgDefault: #171717ed;
  --themeFgOnAccent: #ffffff;
  --themeFgMuted: #616161;
  --themeFgSubtle: #9e9e9e;
  --themeAccentDefault: #3d53f5;
  --themeAccentSubtle: #eceefe;
      }